{% extends 'exo1layout.html.twig' %}

{% block main %} 
<main class="main container">
    <article id="product" class="product">
        <ul>
        {% for order in orders %}
                <td>{{ order.getOrderId }}</td>
                <td>{{ order.getDate|date("m/d/Y") }}</td>
                <td>{{ order.getStatut }}</td>
        {% endfor %}
        </ul>
    </article>
</main>
{% endblock %}
