<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">

</head>
<body>
    <nav>
        <a href="{{ path('home') }}"> Home </a>
        <a href="{{ path('contact') }}"> Contact </a>
    </nav>
    
    {% block message %} {% endblock %}
    <h1> Mon premier en symfony </h1>
    
    <img src="{{ asset('images/cat.jpg') }}" alt="">
    
    {% block main %}
    {% endblock %}
    
    <footer> Crée avec amour par la live 44 </footer>

</body>
</html>