<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">

</head>
<body>
    
    {% block message %} {% endblock %}
    <h1> Mon premier en symfony </h1>
    
    {% block main %}
    {% endblock %}
    
    <footer> Crée avec amour par la live 44 </footer>

</body>
</html>